torch==2.5.1
transformers==4.49.0
trl==0.14.0
vllm==0.7.2
peft==0.14.0
accelerate==1.4.0
deepspeed==0.15.4
bitsandbytes==0.45.2
datasets==3.3.2
wandb==0.19.6
numpy==2.2.3
pandas==2.2.3
pytest==8.3.4
hf-transfer==0.1.9
sympy==1.13.3
pyyaml==6.0.2
tqdm==4.67.1
regex==2024.11.6
